; This is an example config file, you would put it in ~/.config/slsh/slshrc to use it.

(core::ns-import 'core)
(ns-import 'shell)

; Use vi keybindings
;(hash-set! *repl-settings* :keybindings :vi)
; Use a key sequence in vi insert mode as ESC (string and milliseconds time)
;(hash-set! *repl-settings* :vi_esc_sequence '("jk" 500))
; Use emacs keybindings (default)
;(hash-set! *repl-settings* :keybindings :emacs)
; Turn on syntax highlighting at the repl
(syntax-on)

(defn parse_git_branch () (let ((branch))
	(err>null (setq branch (str (git rev-parse --abbrev-ref HEAD))))
	(if (= branch "")
		(format "")
		(format "(" (str-trim branch) ")"))))

(defn path_list_trunc (plist)
	(if (> (length plist) 1)
		(if (> (length (first plist)) 0) 
			(vec-insert-nth! 0 (str-sub 0 1 (first plist)) (path_list_trunc (rest plist)))
			(path_list_trunc (rest plist)))
		plist))

(defn get_pwd ()
	(str-cat-list "/" (path_list_trunc (str-split "/" (str-replace (str-trim $PWD) $HOME "~")))))

(defn set_prompt_tail ()
	(if (= *last-status* 0) "\x1b[32m>\x1b[39m " (format "\x1b[31m(" *last-status* ")>\x1b[39m ")))

(defn __prompt ()
	(str "\x1b[32m[" *ns* "]:" $HOST ":\x1b[34m" (str-trim (get_pwd)) "/\x1b[37m" (parse_git_branch) (set_prompt_tail)))

(alias ls (/bin/ls --color=auto -F))
(alias ll (ls -al))
;(alias vi (nvim))
;(alias vim (nvim))

;(export 'PATH (str "/bin:/usr/local/bin:" '~/bin))

;(if (fs-dir? "/home/sstanf/.cargo") (export 'PATH (str $PATH ":" '~/.cargo/bin)))

;; Completion hooks, the match is for the command and then custom completions can be returned.
(defn __completion_hook (&rest args)
	(match (first args)
		('cd 'path)
		('ls 'default)
		('git 'default)
		(nil 'default)))
