_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache
_pdf
.DS_Store
.idea
.vendor/
.vscode/
.bundle/
pages/mydoc/mydoc_shellreader.md
pages/mydoc/mydoc_reader.md
_data/sidebars/mydoc_sidebar.yml
pages/mydoc/mydoc_api.md
pages/mydoc/mydoc_namespaces.md
pages/mydoc/mydoc_documentation.md
