name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Format
      run: cargo fmt --verbose -- --check
    - name: Clippy
      run: cargo clippy --verbose -- -D warnings
    - name: Build
      run: |
          cargo version
          rustc --version
          cargo build --verbose
    - name: Run Rust tests
      run: cargo test --verbose -- --test-threads=1
    - name: Run Lisp tests
      run: cargo run -- ./run-tests.lisp
